<p>
This JWT API Key must be used to access to the protected endpoints of <strong>AlmosIMDB</strong> API.
</p>
<dl class="row">
  <dt class="col-sm-3">
    JWT API Key:
  </dt>
  <dd class="col-sm-9">
<pre>
<%= @jwt %>
</pre>
  </dd>
</dl>